*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: black
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

.flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.flex_c {
    flex-direction: column;
}

.flex_r {
    flex-direction: row;
}


.frame {
    display: flex;
    
}


.on_textdiv {
    transform: scale(1,1);
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
}

.text {
    /* font-size: 100vw; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    text-align: center;
    /* color: white; */
    padding-bottom: 7.5%;
    /* padding-bottom: 50%; */

    word-break:break-all;
}

.fake_text {
    width: 200vw;
    height: 200vh;
    /* right: 0px; */
    font-size: 0.000001px;
    /* 크롬에서는 폰트사이즈 0px가 적용되지 않습니다. */
    color: rgba(255, 0, 0, 0);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    word-wrap: break-word;
    word-break: break-word;
    text-decoration: none;
    border:none;
}

.about {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    text-align: center;
    line-height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    color: rgb(50, 50, 50);

}

textarea:focus {
    outline: none;
}
